/***********************************************************/
/*                      STYLE GENERAL                      */
/***********************************************************/

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#navbar ul {
    margin: 0;
    padding: 20px;
    list-style-type: none;
    text-align: center;
    background-color: rgba(75, 75, 75, 0.57);
}

#navbar ul li {
    display: inline;
}

#navbar ul li a {
    text-decoration: none;
    padding: .2em 1em;
    color: #fff;
}

#navbar ul li a:hover {
    color: #000;
    background-color: #fff;
}

footer {
    background-color: rgba(0, 0, 0, 0.178);
    text-align: center;
    margin-top: auto; /* This ensures the footer sticks to the bottom of the page */
}

#footer-navbar {
    text-align: center;
}

#footer-navbar ul {
    list-style: none;
    padding: 0;
}

#footer-navbar ul li {
    display: inline;
    margin: 0 10px;
}

#footer-navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

/***********************************************************/
/*                       Accueil (Home)                    */
/***********************************************************/

body.accueil {
    background: url(images/bg.jpg);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

header.logohome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.audio-player {
    position: absolute;
    top: 20px;
    right: 20px;
}

.audio-player audio {
    width: 100px;
}

.resume {
    text-align: center;
    margin-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.metro-interface {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #161616b0;
    padding: 20px;
    margin-top: 90px;
}

.metro-tile {
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: #007ACC;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.image-container {
    position: relative;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    object-fit: cover;
    transform: scale(1);
    transition: filter 0.5s ease-in-out;
}

.image-container .image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 0, 0);
    font-size: 20px;
    color: rgb(0, 106, 255);
    padding: 5px 10px;
    border-radius: 5px;
    display: none;
}

.image-container:hover .image-text {
    display: block;
}

.image-container:hover img {
    animation: blurTransition 0.5s forwards;
}

@keyframes blurTransition {
    0% {
        filter: blur(0);
    }

    100% {
        filter: blur(5px);
    }
}

/***********************************************************/
/*                            News                         */
/***********************************************************/

body.news {
    background: url(images/bg1.jpg);
}

.logopage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.instruct {
    text-align: center;
    margin-top: 50px;
}

.news-box {
    width: 200px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #000;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    margin-top: 50px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.news-box img {
    max-width: 100%;
    max-height: 100%;
    transition: filter 0.3s;
}

.news-box:hover img {
    filter: blur(5px);
}

.news-box h2 {
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.415);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 10px;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s;
}

.news-box:hover h2 {
    opacity: 1;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    justify-items: center;
}

.news-link {
    text-decoration: none;
    color: #ff0000;
}

.news-link:hover {
    text-decoration: underline;
    color: #ff0000;
}

/***********************************************************/
/*                          Fanart                         */
/***********************************************************/

body.fan {
    background: url(images/bg2.jpg);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.mosaique {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    padding: 20px;
    margin-top: 40px;
}

.fanart {
    border: 0px solid rgba(0, 0, 0, 0.621);
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    text-align: center;
    border-radius: 10px;
}

.fanart img {
    max-width: 100%;
    height: auto;
    width: 100%;
    border-radius: 10px;
    width: 157px;
    height: 157px;
    overflow: hidden;
}

body.fan {

    background: url(images/bg2.jpg);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/***********************************************************/
/*                       Discographie                      */
/***********************************************************/

body.disco {
    background: url(images/bg3.png);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.logodisco {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.logodisco img {
    width: 500px;
    height: auto;
}

.album-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    justify-items: center;
    margin-top: 50px;
}

.album-box {
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: #f7f7f77d;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0px 3px;
    width: 200px;
    height: 400px;
}

.album-box img {
    max-width: 100%;
    border: 1px solid black;
    max-height: 60%;
    border-radius: 10px;
}

.album-box h2 {
    margin: 10px 0;
    color: white;
    font-size: 14px;
}

.album-box ul {
    list-style: none;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
}

.album-box li {
    margin: 5px 0;
    font-size: 12px;
}

/***********************************************************/
/*                         Concert                         */
/***********************************************************/

body.concert {
    background: url(images/bg4.jpg);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

header.logohome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.logodisco {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.logodisco img {
    width: 500px;
    height: auto;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 50px;
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    overflow: hidden;
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #333;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}


/***********************************************************/
/*                         Shop                            */
/***********************************************************/

body.merch {
    background: url(images/bg5.png);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

header.logomerch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.logomerch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.logomerch img {
    width: 500px;
    height: auto;
}

.merch-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}

.merch-item {
    width: 300px;
    margin: 10px;
    text-align: center;
}

.merch-item img {
    max-width: 100%;
    border: 5px solid #000000;
    border-radius: 5px;
}

.product-price {
    font-size: 16px;
    color: #ffffff;
    margin-top: 5px;
}

.buy-button {
    display: block;
    background-color: #1eff00;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

.buy-button:hover {
    background-color: #0056b3;
}


/***********************************************************/
/*                       Contact                           */
/***********************************************************/

body.contact {
    background: url(images/bg6.jpg);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

header.logocontact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.logocontact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.logocontact img {
    width: 500px;
    height: auto;
}

.contact-form {
    background-color: rgba(0, 0, 0, 0.856);
    padding: 15px;
    border-radius: 10px;
    color: white;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 10px;
}

.form-group {
    text-align: center;
}

.form-label {
    color: white;
    display: block;
    margin-bottom: 5px;
}

.form-input,
.form-select,
.form-textarea {
    width: 75%;
    padding: 5px;
    margin: 6px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    text-align: center;
    margin: 0 auto;
}

.form-textarea {
    height: 100px;
    resize: none;
    overflow-y: auto;
}



.form-button {
    background-color: #43858b;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.form-button:hover {
    background-color: #43858b;
}
